section.historic {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 100%;

	padding: 2rem;
}

section.historic div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	height: 3rem;
}

section.historic ul {
	list-style: none;
	
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section.historic ul li {
	color: #000000;
	font-size: 1.4rem;

	transition: all 1s;
}

section.historic ul li.warning {
	color: #ff1616;
}