/* Home */
.App {
	display: flex;

	flex-direction: column;
	justify-content: center;

	padding: 2rem;
	margin: auto;

	height: min(100%, 100vh);
	width: min(100%, 100rem);

	background: #ffffff;

	margin: 5rem auto;

	border: none;
	border-radius: 1rem;
}

.App h1 {
	padding: 0 0 2rem;

	font-size: 2.2rem;
	font-weight: bold;
}

.App h2 {
	font-size: 1.8rem;
	font-weight: bold;
}

.App button {
	display: inline-block;
	cursor: pointer;

	padding: 0.5rem;
	width: min(100%, 20rem);

	color: #ffffff;
	font-weight: 400;
	font-size: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5;

	background: #007bff;
	border: 1px solid #007bff;
	border-radius: 0.5rem;

	transition: all 0.25s
}

.App button:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}

.App button.btn-delete {
	width: min(100%, 20rem);

	color: #ffffff;
	font-size: 1.2rem;

	background: #ff1616;
	border: 1px solid #ff1616;
}

.App button.btn-delete:hover {
	background-color: #de0b0b;
	border-color: #de0b0b;
}

.App div {
	display: flex;
	flex-direction: row;

	gap: 5rem;
}

.App .container {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	width: 100%;
}
/* Home */

/* Form */
form.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	width: 100%;
	height: min(100%, 50rem);

	padding: 2rem;

	border-radius: 0.5rem;
	border: 1px solid #ced4da;
}

form.form div {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}

form.form div label {
	font-size: 1.4rem;
	font-weight: bold;
}

form.form div input {
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid #ced4da;
}

form.form div input:focus {
	border: 1px solid #007bff;
}

form.form div input+span {
	color: #ff1616;
	font-size: 1.2rem;
}
/* Form */

/* TodoList */
section.todo-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 100%;
}

section.todo-list div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	height: 3rem;
}

section.todo-list ul {
	list-style: none;
}

section.todo-list ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	padding: 1rem 0;

	color: #000000;
	font-weight: bold;
	font-size: 1.4rem;

	transition: all 1s;
}

section.todo-list ul li.warning {
	color: #ff1616;
}

section.todo-list li label {
	color: #000;
	font-weight: 400;
}

section.todo-list li input:checked+label {
	text-decoration: line-through;
}
/* TodoList */

/* Historic */
section.historic {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 100%;

	padding: 2rem;
}

section.historic div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	height: 3rem;
}

section.historic ul {
	list-style: none;
	
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section.historic ul li {
	color: #000000;
	font-size: 1.4rem;

	transition: all 1s;
}

section.historic ul li.warning {
	color: #ff1616;
}
/* Historic */
